<html>
<%-include('partials/header.ejs')%>
  <link rel="stylesheet" href="/css/style.css" />
  <title>RecylingEarth</title>
</head>

<body style="margin: 0;">
  <section id="title" style="margin: 0;">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark" style=" background-color: #064635;">
        <img class="logo-image" src="images/logo.jpg" alt="Logo">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#intro">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Join Us</a>
            </li>

            <%if(data!==null){%>
              <li class="nav-item">
                <a class="nav-link" href="#Locate-dustbin">Locate Dustbin</a>
              </li>
            <%}%>

            <li class="nav-item">
              <a class="nav-link" href="#Heros">Our Heros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#About-Us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact Us</a>
            </li>

            <%if(data!==null){%>
              <li class="nav-item">
                <a class="nav-link btn btn-primary" href="/auth/logout" role="button">Logout</a>
              </li>
            <%}%>
          </ul>
        </div>
      </nav>

    </div>
  </section>

  <!-- Introduction Section-->

  <section id="intro">
    <div class="row introduction">
      <div class="intro intro1 col-md-12 ">
        <img class="img1 " src="images/waste-man.jpg" alt="images\waste-man.jpg">
      </div>
      <div class="intro intro2 col-md-12 ">
        <h3>"Welcome to Waste Management Portal"</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <a href="/know-more"><button class="btn"> Know More </button></a>
      </div>
    </div>
  </section>


  <!-- Join-Us Section -->

  
  <!-- Locate Dustbin -->
  <%if(data!==null){%>
    <section id="Locate-dustbin">
      <h1 class="h-primary center">Locate Dustbin Nearby</h1>
      <div class="container" id="Dustbin" style="text-align: center;">
        <iframe
        width="1000"
        height="500"
        frameborder="0"
        style="border: 0"
        referrerpolicy="no-referrer-when-downgrade"
        src=<%=data%>
        allowfullscreen
      >
      </iframe>
      </div>
    </section>
  <%}%>


  <!-- Heros Section -->

  <section id="Heros">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">She trained around 14 housekeepers in segregating the dry waste and processing the wet waste in the newly purchased unit. The staff is divided into three teams and functions on shift basis.</h2>
          <img class="heros-image" src="images/savita-bengaluru.png" alt="lady-profile">
          <em>Savita, Bengaluru</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Ahmedabad-based startup Ishitva offers AI solutions to effectively identify and sort dry waste to ensure that most recyclable waste is put to use as a repurposed product.</h2>
          <img class="heros-image" src="images/boy.jpg" alt="lady-profile">
          <em>Jitesh Dadlani and Sandip Singh</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">Project Palaash aims to utilise floral waste, which amounts to one-third of total solid waste, to create organic dyes which are purely non-synthetic.</h2>
          <img class="heros-image" src="images/girl1.png" alt="lady-profile">
          <em>Young entrepreneurs of Enactus Aryabhatta</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>
  </section>


  <!-- About-Us -->

  <section id="About-Us">
    <h2>About Us</h2>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/Kunal.jpg" alt="img">
        <p>Kunal Chandra</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/jasleen.jpeg" alt="img">
        <p>Jasleen Kaur</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/ashutoshh.jpg" alt="img">
        <p>Ashutosh Soni</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/ujjwal.jpg" alt="img">
        <p>Ujjwal Sengar</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/ranjan.jpeg" alt="img">
        <p>Ranjan Kudesia</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/nandita.jpg" alt="img">
        <p>Nandita Jain</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/yatharth.jpeg" alt="img">
        <p>Yatharth Gupta</p>
      </div>
      
      <div class="col-lg-3 col-sm-6">
        <img class="mem-img" src="images/kush.JPG" alt="img">
        <p>Kush Khare</p>

      </div>

    </div>

  </section>

  <!--Chatbot-->
<div class="chaticon">
  <!-- https://support.upwork.com/hc/article_attachments/360040474034/chatbot-data.png -->
  <a href="/chat-bot"><img class="chaticonimg" src="images/bot.png" alt="BotImage"></a>
</div>
   <!-- contact us-->
   <section>
    <div class="contactbt" style="margin-bottom: 10px;text-align: center;">
      <a class="btn btn-sm-primary" href="https://forms.gle/7T7koZSxgbRoqRbc7" role="button">Contact Us</a>
    </div>
  </section>
</body>

<!-- Contact -us -->

<footer id="footer">
  <i class="ico fa-brands fa-facebook"></i>
  <i class="ico fa-brands fa-instagram"></i>
  <i class="ico fa-brands fa-twitter"></i>
  <i class="ico fa-solid fa-envelope"></i>

  <p>© Copyright RecylingEarth</p>

</footer>

</html>